'.php':
  'php short echo tag':
    'prefix': 'ci-et'
    'body': '<?php echo $1 ?>'
  'php short tag':
    'prefix': 'ci-t'
    'body': '<?php $1 ?>'
  'php alternative if':
    'prefix': 'ci-if'
    'body': """
    <?php if($1): ?>
    <?php endif; ?>
    """
  'php alternative if else':
    'prefix': 'ci-ifelse'
    'body': """
    <?php if($1): ?>
    <?php else ?>
    <?php endif; ?>
    """
  'php alternative foreach':
    'prefix': 'ci-foreach'
    'body': """
    <?php foreach($1) ?>
    <?php endforeach; ?>
    """
